.top-slider {
  padding: 220px 0 45px;

  &__item {
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 206px;
  }

  &__title {
    margin-bottom: 35px;
    max-width: 470px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: #243f4d;
  }

  &__text {
    margin-bottom: 60px;
    max-width: 370px;
    font-size: 18px;
    line-height: 1.6;
    @extend %rubik-400;
  }

  &__link {
    position: relative;
    outline: transparent;
    padding: 20px 100px 20px 25px;
    @extend %btn;
    transition: all 0.3s;

    &:active {
      padding: 18px 90px 18px 22px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 25px;
      right: 20px;
      width: 26px;
      height: 10px;
      background-image: url('../images/icons/arrow-btn.svg');
      background-repeat: no-repeat;
      background-size: cover;

    }


  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      padding: 0 10px;

      button {
        width: 30px;
        height: 30px;
        border: none;
        outline: transparent;
        border-radius: 50%;
        background-color: #fde3cc;
        color: #243f4d;
        font-size: 12px;
        @extend %rubik-500;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }

    }

  }
}