.video {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    width: 98px;
    height: 98px;
    background-color: #a3bbc8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;

    &:hover {
      box-shadow: 0 0 0 15px rgba(163, 187, 200, 0.5);
    }
  }
}
